# Handling categorical variables
1. One hot encoding-creates new features and replaces the categories with either 0 or 1
2. Label encoding
3. Ordinal encoding
4. Binary encoding
5. Frequency or count encoding
6. Base-n encoder

In [56]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

data = {'Temperature':['Hot','Cold','Very Hot','Warm','Hot','Warm','Warm','Hot','Hot','Cold'],
        'Color':['Red','Yellow','Blue','Blue','Red','Yellow','Red','Yellow','Yellow','Yellow'],
        'Target':[1,1,1,0,1,0,1,0,1,1]}
df = pd.DataFrame(data)
df1= df.copy()
df1

  Temperature   Color  Target
0         Hot     Red       1
1        Cold  Yellow       1
2    Very Hot    Blue       1
3        Warm    Blue       0
4         Hot     Red       1
5        Warm  Yellow       0
6        Warm     Red       1
7         Hot  Yellow       0
8         Hot  Yellow       1
9        Cold  Yellow       1

# 1. Get dummies

In [57]:
df1= pd.get_dummies(data=df1, columns=['Temperature'],prefix='temp')
df1

    Color  Target  temp_Cold  temp_Hot  temp_Very Hot  temp_Warm
0     Red       1      False      True          False      False
1  Yellow       1       True     False          False      False
2    Blue       1      False     False           True      False
3    Blue       0      False     False          False       True
4     Red       1      False      True          False      False
5  Yellow       0      False     False          False       True
6     Red       1      False     False          False       True
7  Yellow       0      False      True          False      False
8  Yellow       1      False      True          False      False
9  Yellow       1       True     False          False      False

In [58]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Color          10 non-null     object
 1   Target         10 non-null     int64
 2   temp_Cold      10 non-null     bool
 3   temp_Hot       10 non-null     bool
 4   temp_Very Hot  10 non-null     bool
 5   temp_Warm      10 non-null     bool
dtypes: bool(4), int64(1), object(1)
memory usage: 332.0+ bytes

In [59]:
b = df1.select_dtypes(include='bool').columns
df1[b]= df1[b].astype(int)
df1

    Color  Target  temp_Cold  temp_Hot  temp_Very Hot  temp_Warm
0     Red       1          0         1              0          0
1  Yellow       1          1         0              0          0
2    Blue       1          0         0              1          0
3    Blue       0          0         0              0          1
4     Red       1          0         1              0          0
5  Yellow       0          0         0              0          1
6     Red       1          0         0              0          1
7  Yellow       0          0         1              0          0
8  Yellow       1          0         1              0          0
9  Yellow       1          1         0              0          0

# 2.Using one hot encoder in SKlear
When using one hot encoder we give our data a specific shape as it expects a 2D input

In [60]:
df2 = df.copy()
df2

  Temperature   Color  Target
0         Hot     Red       1
1        Cold  Yellow       1
2    Very Hot    Blue       1
3        Warm    Blue       0
4         Hot     Red       1
5        Warm  Yellow       0
6        Warm     Red       1
7         Hot  Yellow       0
8         Hot  Yellow       1
9        Cold  Yellow       1

In [61]:
from sklearn.preprocessing import OneHotEncoder
x= OneHotEncoder()
a= x.fit_transform(df2['Temperature'].values.reshape(-1,1)).toarray()
b = pd.DataFrame(a, columns=['Temperature_Cold', 'Temperature_Hot','Temperature_Very Hot', 'Temperature_Warm'])
b

   Temperature_Cold  Temperature_Hot  Temperature_Very Hot  Temperature_Warm
0               0.0              1.0                   0.0               0.0
1               1.0              0.0                   0.0               0.0
2               0.0              0.0                   1.0               0.0
3               0.0              0.0                   0.0               1.0
4               0.0              1.0                   0.0               0.0
5               0.0              0.0                   0.0               1.0
6               0.0              0.0                   0.0               1.0
7               0.0              1.0                   0.0               0.0
8               0.0              1.0                   0.0               0.0
9               1.0              0.0                   0.0               0.0

In [62]:
df3 = pd.concat([df1,df2],axis=1)
df3

,Color,Target,temp_Cold,temp_Hot,temp_Very Hot,temp_Warm,Temperature,Color,Target
0,Red,1,0,1,0,0,Hot,Red,1
1,Yellow,1,1,0,0,0,Cold,Yellow,1
2,Blue,1,0,0,1,0,Very Hot,Blue,1
3,Blue,0,0,0,0,1,Warm,Blue,0
4,Red,1,0,1,0,0,Hot,Red,1
5,Yellow,0,0,0,0,1,Warm,Yellow,0
6,Red,1,0,0,0,1,Warm,Red,1
7,Yellow,0,0,1,0,0,Hot,Yellow,0
8,Yellow,1,0,1,0,0,Hot,Yellow,1
9,Yellow,1,1,0,0,0,Cold,Yellow,1

In [ ]:
import sys
print(sys.executable)

c:\Python312\python.exe

In [66]:
df4 = df.copy()

In [68]:
import category_encoders as ce
a= ce.OneHotEncoder(cols='Temperature')
b = a.fit_transform(df4)
b['Temperature'] = df['Temperature']
b

,Temperature_1,Temperature_2,Temperature_3,Temperature_4,Color,Target,Temperature
0,1,0,0,0,Red,1,Hot
1,0,1,0,0,Yellow,1,Cold
2,0,0,1,0,Blue,1,Very Hot
3,0,0,0,1,Blue,0,Warm
4,1,0,0,0,Red,1,Hot
5,0,0,0,1,Yellow,0,Warm
6,0,0,0,1,Red,1,Warm
7,1,0,0,0,Yellow,0,Hot
8,1,0,0,0,Yellow,1,Hot
9,0,1,0,0,Yellow,1,Cold

In [ ]:
#Ordinal encoder
from sklearn.preprocessing import OrdinalEncoder
order = [['Iris-setosa', 'Iris-versicolor', 'Iris-virginica']]
a = OrdinalEncoder(categories=order)
iris1['class']= a.fit_transform(iris1[['class']])
iris1

:

# Instance of using label encoder
Used on categories with ordinal order- iko na mpangilio
Used for tree base models

# Instance of using one hot encoder
Its perfect for nominal categorical data where there is no inherent orders among categories
No natural order in ranking
Based on linear models,logistic progression an neural networks

# Get dummies
When using pandas and want a quick solution for using nominal variables- they have no numeric meaning and no natural ranking or order
It is usefull for regression models

# Category encoders
Useful for advanced encoding when;  1 Have many unique values and 2. want to try target encoding, hashing and binary encoding
Target encoding is when the category correlates with the target variable- risks leakage
Hashing encoding is when you have many categories and you want fewer columns
Binary encoding is for many categories

Avoid label encoder when you have nominal categories
Avoid one hot encoder and get dummies when you have too many categories